#preloader {
    background: white url(assets/load.gif) no-repeat center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

* {
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
}

.navelements
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: whitesmoke;
    width: 100%;
}
ul{
    list-style-type: none;
}
.navhead
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; 
    justify-content: space-between; 
}
#text
{
    text-align: center;
}
#navitems
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-bottom: .5em;
    margin-top: -50px;
}
a:hover
{
    border-bottom: 2px solid green;
    color: green;
    font-weight: bold;
}
#navlogo>img
{
    width: 5em;
    height: 5em;
    margin: 2em;
}
#navh1{
    font-weight: bold;
    font-size: 5em;
    background: linear-gradient(90deg, #7fb0f4, #4dd074); 
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}
.content1
{
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    text-align: center;
}
a{
    text-decoration: none;
    margin-right:2em;
    color: rgb(19, 186, 94);
}
#sidebar
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    gap: 5px;
    background-color: rgb(248, 244, 244);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#sidebar li{
    width: 100%;
    margin: 20px;

}
#sidebar a{
    width: 100%;
}


.news-container {
    padding: 10px;
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto;
}

.news-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.menubtn
{
    display: none;
}
.news-item h2 {
    margin: 0 0 10px;
    font-size: 1em;
}

.news-item p {
    margin: 0 0 10px;
    font-size: .8em;
    color: #333;
}

.news-item a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}
/*popup*/
.popup {
    position: fixed;
    top: 75%;
    left: 80%;
    transform:translate(-50%,-50%);
    display: none;
}
.popup-content{
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,22%);
}
.imgbox{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbox img{
    width: 300px;
    height: 250px;
}
.imgbox::before{
    content:'';
    position: absolute;
    width:250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.imgbox img{
    position: relative;
    width: 250px;
    z-index: 1;
}
.content h3{
    color: #333;
    line-height: 1 em;
    font-weight: 400;
    font-size: 2em;
}
.content p{
    font-weight: 300;
    padding-right: 10px;
}
.content a{
    display: inline-block;
    padding: 10px 20px;
    background: brown;
    color: white;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: .4s;
}
.content a:hover{
    background: #ec2020;
}
.closebtn{
    top:20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff url(assets/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}
.qr{
    width: 100px;
    height: 100px;
}
.helpline
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.help p
{
    margin-top: 2px;
}
@media (max-width: 992px) {
    .popup {
        position: fixed;
        top: 50%;
        left: 45%;
        transform:translate(-50%,-50%);
        display: none;
    }
    .hideonmobile
    {
        display: none;
    }
    .menubtn
    {
        display: block;
        margin-top: 50px;
        margin-right: -60px;
    }
    .navelements
    {
        position: static;
    }
    #navh1
    {
        display: none;
    }
    .popup-content{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        text-align: center;

    }
}